---
import Layout from '../layouts/Layout.astro';
import TechArticle from '../components/TechArticle/index.astro';
import ReleaseNote from '../components/ReleaseNote/index.astro';
import TechBook from '../components/TechBook/index.astro';
---

<Layout>
	<main>
		<div>
			<TechArticle />
		</div>
		<div>
			<ReleaseNote />
		</div>
		<div>
			<TechBook />
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		/* タブレット以下のサイズのデバイス */
		max-width: calc(100% - 2rem);
		color: rgb(245, 239, 239);
		font-size: 20px;
		line-height: 1.6;
	}
	/* タブレット以上の大きさのデバイス */
	@media (min-width: 768px) {
		main {
			max-width: calc(100% - 4rem);
		}
	}
	/* PC以上の大きさのデバイス */
	@media (min-width: 1024px) {
		main {
			max-width: calc(100% - 12rem);
		}
	}
	main div {
		margin-bottom: 50px;
	}
</style>
