---
import Layout from '../layouts/Layout.astro';
import TechArticle from '../components/TechArticle.astro';
---

<Layout title="Tech Herb">
	<main>
		<div>
			<h2>技術記事</h2>
			<TechArticle />
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		max-width: calc(100% - 2rem);
		color: rgb(245, 239, 239);
		font-size: 20px;
		line-height: 1.6;
	}
	h2 {
		font-size: 23px;
	}
</style>
