---
const ARTICLE_LIMIT = 10;

// 最新のPublickeyの記事を取得
const latestPublickeyArticles = (await(await fetch('https://api.rss2json.com/v1/api.json?rss_url=https://www.publickey1.jp/atom.xml')).json()).items;
const slicedPublickeyArticles = latestPublickeyArticles.slice(0, ARTICLE_LIMIT);

const techArticleList = [slicedPublickeyArticles];
---

<!-- 媒体毎にループを回す -->
<ol class="tech-article-list">
	<!-- 媒体内の各記事毎にループを回す -->
	<li class="tech-article-card">
		<a href="example.com">test</a>
	</li>
</ol>

<style>
	.tech-article-list {
		background-color: rgb(216, 224, 231);
		color: black;
		border-radius: 10px;
	}
	.tech-article-card {
		/*  */
	}
</style>
